{% extends 'base.html' %}
{% block content %}
<header class = "bg-dark py-5">
	<div class = "container px-4 px-lg-5 my-5">
		<div class = "text-center text-white">
			<h1 class = "display-4 fw-bolder">About Us...</h1>
			<p class = "lead fw-normal text-white-50 mb-0">Welcome to Online Dukan</p>
		</div>
	</div>
</header>
<div class = "container">
	<div class = "row">
		<center>
			<div class = "col-8">
				<br><br>
				<p align="justify">
				Contrary to popular belief, Lorem Ipsum is not simply random text.
				It has roots in a piece of classical Latin literature from 45 BC,
				making it over 2000 years old.
				Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
				looked up one of the more obscure Latin words,
				consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
				discovered the undoubtable source.
				Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
				(The Extremes of Good and Evil) by Cicero, written in 45 BC.
				This book is a treatise on the theory of ethics, very popular during the Renaissance.
				The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
					<br>
				 sit amet, consectetur adipiscing elit. Vestibulum a commodo ante.
				Nullam laoreet, nisi et pretium condimentum, ligula eros tempor massa,
				a posuere felis urna vitae lorem. Duis sit amet nulla euismod,
				gravida justo commodo, porta est. Sed sit amet nunc a felis rutrum tincidunt.
				Sed id rhoncus turpis, vitae maximus urna. Donec eleifend elit sit amet leo vestibulum aliquet.<br>
				Nulla feugiat pulvinar nisl, nec facilisis massa egestas et. Aenean tincidunt, neque a maximus fermentum,
				nunc enim feugiat quam, eget accumsan tortor purus a eros. Aenean eget fringilla nibh.
				Morbi mattis efficitur feugiat. Nullam et finibus diam. Maecenas rhoncus, odio ac feugiat eleifend,
				justo tortor semper risus, quis iaculis lectus ante quis justo. Curabitur interdum porttitor ex, id blandit dolor hendrerit at.
				lacus sed pulvinar laoreet, nisi nulla dignissim nisl, quis congue augue ipsum vel magna.
				Ut vulputate vulputate leo, at consequat metus ullamcorper sed. Proin erat massa, pretium nec viverra dignissim,
				iaculis sed justo.<br>
				Curabitur condimentum iaculis quam, vitae gravida odio. Nullam a orci ac quam tempor ultrices eu elementum justo.
				In ornare pellentesque orci in blandit. In porta lobortis felis, ut tincidunt urna semper non.
				Fusce vitae sem in diam dapibus rutrum sit amet vitae orci. In in iaculis turpis.
				Aliquam scelerisque porttitor nibh sed elementum. Nulla facilisi.
				</p>
				<br><br>
			</div>
		</center>
	</div>
</div>


{% endblock %}